# メールの集約先
TRANSMAIL_FORWARD_TO="you@gmail.com"

# 転送に使うSMTPの設定
# /etc/postfix/sasl_password の書式
# 
# ここでGmailのSMTPを利用する場合、Googleアカウントを2段階認証にして
#     https://myaccount.google.com/apppasswords
# からアプリパスワードを取得する。
# ただし、やってくるメールのFromがこれ(またはエイリアス)に書き換えられてしまう。
TRANSMAIL_SASL_PASSWORD="[smtp.gmail.com]:587 you@gmail.com:xxxxxxxxxxxxxxxx"
